@import '../../variables'
@import '../../mixins'

.heroes-card
    max-width: 400px
    @include box-shadow(7px -7px 9px $shadow-color, -7px 7px 9px $shadow-background-dark)
    &:hover
        transform: scale(.95)

.hero
    @include border

.action
    @include border
    @include box-shadow(7px -7px 9px $shadow-color, -7px 7px 9px $shadow-background-dark)

.villain
    @include border

.win
    border: 10px solid $win-color

.lost
    @include lost

.primary
    color: $primary-color

.blank
    color: #fff

.center
    display: flex
    justify-content: center

.winner-text
    margin: 1rem

.mat-card img, .mat-card-image
    border-radius: 50% !important
    display: block
    margin: auto

.mat-card-content
    p
        max-width: 240px

.mat-button-base
    margin: 5px

.fighter-picture
    height: 320px

.winner-fight
    font-size: 30pt
    color: #fff
    text-align: center

.make-me-flash
    margin: 0
    height: 220px
    width: 220px
    display: flex
    justify-content: center
    align-items: center
    background-color: #e91e63
    border-radius: 100%
    animation-name: flash
    animation-duration: 1s
    animation-iteration-count: infinite
